body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: -moz-linear-gradient(0deg, #7a77ff 0%, #8cfe86 100%);
    background-image: -webkit-linear-gradient(0deg, #7a77ff 0%, #8cfe86 100%);
    background-image: -ms-linear-gradient(0deg, #7a77ff 0%, #8cfe86 100%);
    color: #000000; /* Set text color to white for better contrast */
}

.comments-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.comment-box {
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 15px;
}

.comment {
    padding: 10px;
}

p {
    margin: 0;
}

.timestamp {
    font-size: 0.8em;
    color: #888;
}

.no-comments {
    text-align: center;
    color: #888;
}

/* New comment pop-up styles */
#newComment {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none; 
}

@media only screen and (max-width: 600px) {
    .comments-container {
        width: 90%;
    }
}


/* Sticky Comment Box Styles */
.review-box {
    position: fixed;
    bottom: 0;
    margin-right: 200px;
    width: 100%;
    background-image: -moz-linear-gradient(0deg, #7a77ff 0%, #8cfe86 100%);
    background-image: -webkit-linear-gradient(0deg, #7a77ff 0%, #8cfe86 100%);
    background-image: -ms-linear-gradient(0deg, #7a77ff 0%, #8cfe86 100%);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.name-input,
.review-input {
    background-color: #c8c8c87a;
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
}

.send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}